body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

h1, h2, p {
	margin: 0;
}

/* HEADER */

nav {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	background-color: white;
}

nav ul {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 0;
	margin: 0;
	background-color: white;
}

ul li {
	display: inline;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 105px;
}

.header__nav {
	padding: 0 17.5px;
}

/* landing */

.landing {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 100%;
	color: white;
	background-image: url(../img/bg.png);
	height: 800px;
	text-align: center;
}

h1 {
	padding: 112px 0 15px;
	font-size: 82px;
	font-weight: bold;
}

.description__content {
	font-size: 30px;
	color: #8B7FAA;
	padding-bottom: 30px;
}

.version__content {
	font-size: 16px;
	color: #848E97;
	text-transform: uppercase;
}

/* EDITOR */

.editor__button {
	position: relative;
  width: 400px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  top: -35px;
  border-radius: 50px 50px;
  background-color: #7E7399;
  color: white;
  font-size: 21px;
  font-weight: bold;
}

.editor-button__description {
	display: flex;
	justify-content: center;
	font-size: 14px;
}

.editor__heading {
	display: flex;
	justify-content: center;
	font-size: 54px;
	font-weight: bold;
	color: #635C73;
	padding-top: 70px;
}

.editor__description {
	display: flex;
	justify-content: center;
	font-size: 21px;
	color: #5B5B5B;
	padding: 36px 0;
}

.editor__buttons {
	display: flex;
	justify-content: center;
	padding-bottom: 70px;
}

/* OFFRES */

.offer {
	background-color: #F4F4F4;
	padding-left: 105px;
}

/* Account */

.account {
	padding-bottom: 109px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
}

.account__img {
	display: flex;
	align-items: center;
}

.offer__contetn {
	display: flex;
	justify-content: center;
	font-size: 20px;
	padding-bottom: 30px;
}

.offer-time__contetn {
	display: flex;
	justify-content: center;
	font-size: 16px;
	color: #848E97;
	padding-bottom: 117px;
}

.offer__contetn span {
	color: #8D81AC;
}

.links-wrapper {
	display: flex;
	justify-content: center;
}

.links-link {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 10px 10px;
  margin: 0 20px;
  font-size: 21px;
}

.git {
	background-color: #F3F3F3;
	color: black;
}

.twit {
	background-color: #26A6D1;
	color: white;
}

.face {
	background-color: #3B5998;
	color: white;
}

/* About */

.about {
	background-color: #4B3B4E;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 100%;
	color: white;
	background-image: url(../img/bg2.png);
	height: 771px;
	padding: 0 142px;
}

.about h2 {
	display: flex;
	justify-content: center;
	font-size: 48px;
	font-weight: bold;
	padding: 98px 0;
}

.about img {
	padding-bottom: 37px;
}

.skills__row {
	display: flex;
	line-height: 2rem;
	justify-content: center;
	align-content: flex-end;
	padding: 25px 0;
	text-align: center;
}

.skills__col {
	display: flex;
	align-items: center;
	flex-direction: column;
	align-self: flex-end;
	margin: 0 30px;
	width: 362px;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5rem;
}

/* PRICE */

.price {
	background-color: #4A3B4E;
	color: white;
}

.price h2 {
	display: flex;
	justify-content: center;
	font-size: 48px;
	font-weight: bold;
	padding: 75px 0;
	color: white;
	border-top: 1px #645766 solid;
}

.price__wrapper {
	display: flex;
	justify-content: center;
	text-align: center;
}

.price__can {
	font-size: 24px;
	background-color: #685B6A;
	opacity: 0.6;
	padding: 45px 63px 33px;
	text-transform: uppercase;
}

.opacity {
	background-color: #5F5161;
	opacity: 0.4;
}

.price__price {
	font-size: 60px;
	font-weight: bold;
	padding: 36px 0;
}

.price__iteration {
	font-size: 14px;
	color: #7F737D;
	padding-bottom: 80px;
}

.price__description{
	font-size: 16px;
	padding-bottom: 67px;
}

.price__button {
	font-size: 16px;
	padding-bottom: 36px;
	border-radius: 20px;
}

.price__col {
	display: flex;
	flex-direction: column;
	padding: 0 6.5px;
	width: 250px;
	padding-bottom: 133px;
}

.price__text {
	display: flex;
	text-align: center;
	font-size: 14px;
	color: #7A697D;
	padding: 0 260px 77px 260px;
}

/* SUBSCRIBE */

.subscribe {
	display: flex;
	justify-content: center;
	padding: 72px 0;
	background-color: #F4F4F4;
}

.subscribe p {
	font-size: 30px;
	font-weight: bold;
	color: #635C73;
	padding-right: 180px;
}

.subscribe__input {
	border-radius: 20px 20px;
	height: 30px;
	color: #D3D5D9;
	font-size: 14px;
	padding-left: 10px;
}

.subscribe__button {
	border-radius: 20px 20px;
	height: 30px;
	margin-left: 20px;
	background-color: #8D81AC;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;

} 

/* NEW */

.new {
	font-size: 14px;
}

.new__wrapper {
	display: flex;
	justify-content: center;
	text-align: center;
}

.new__col {
	display: flex;
	text-align: left;
	padding: 0 20px;
	width: 310px;
}

.new h3 {
	font-size: 28px;
	font-weight: bold;
	color: #D3D1DA;
	padding: 73px 0;
}

.new h4 {
	font-size: 16px;
}

.new p {
	font-size: 14px;
	color: #949DA4;
}

.new__text {
	color: #8d81ac; 
}

.new__wrap {
	padding-top: 73px;
}

.new__button {
  width: 50%;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px 5px;
  background-color: #F4F4F4;
  color: #8D81AC;
}

/* FOOTER */

footer {
	background: #FFFAF2;
	padding-left: 65px;
	padding-right: 66px;
	padding-bottom: 70px;
}

footer h3 {
	padding-top: 93px;
}

.footer_container { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  grid-gap: 2vw;
  padding-bottom: 95px;
  }
.footer_column > span {
  padding: .5em;
  text-align: left;
}

.footer_column {
	display: flex;
	flex-direction: column;
}

